@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-darkblue:#0a3871;
    --color-blanco:#ffffff ;
    --color_body:#E5E5E5;
    --color-grisClaro:#D8DFE8;
    --color-grisOscuro:#495057;
    --color-rosa:#fac6cf;

    --fuente-Inter:"Inter", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
   
}
body{
    background-color: var(--color_body);
    
    background-repeat: none;
    color:var(--color-darkblue); 
    box-sizing: border-box;
    width:1440px ;
    height:1024 px; /*936 /1024*/
  /*   height: 100vh;  */
}
.header{
    padding: 0% 0 0 0%;
    background-color:var(--color-rosa);
    width:1440px ;
}
.logo{
    width:120px ;/*750%*/
    height: 48px;    
    margin-left: 40px;  
    margin-top: 40px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.pantalla__main{background-image: url("img/fondos-powerpoint-colores-pasteles-1.jpg"); 
    display: flex;
    flex-direction: row;
    padding:1% 1%; 
    justify-content:flex-start ; 
    gap: 80px;
  /*  width:1440px ;
    height:896 px; 936 /1024*/
}
/*&&&&&&&&&&&&&&&&&&--Seccion Texto ingresado -- &&&&&&&&&&&&&&&&&&&&&&&*/
.seccion_ingreso_texto{
    display: flex;
    flex-direction: column;
    width:50%;/* 680px */
    height: 784px; /* */
    margin-left: 240px;
    margin-top: 80px;
}
/*@@@@@@@@@@@@@@@@@@--Texto ingresado---@@@@@@@@@@@@@@@@@@@@@@@*/
.textarea{
    width: 680px;/**/
    height: 288px;/*48*/
    font-size: 2rem;/*32px*/
    font-weight: 300; 
    font-family: var(--fuente-Inter);
    text-transform: lowercase;/*trasforma el texto a minuscula*/
    background-color:var(--color-blanco);
    color:var(--color-darkblue); 
    border: none;
}
/*@@@@@@@@@@@@@@@@@--Div Advertencia--@@@@@@@@@@@@@@@@@@@@@@@*/
.advertencia{
    width: 229px;
    height: 18px;
    align-items: stretch;
    margin-top:395px ;
}
.advertenciaImg{
    width: 16px;
    height: 16px;
}
.advertenciaTex{
    display: inline-block;
    font-size:0.75 rem; /*12px*/  
    font-weight: 400;
    font-family: var(--fuente-Inter);
    color: var(--color-darkblue);
   /* margin-top: 16px;*/
}
/*@@@@@@@@@@@@@@@@@@@--Div Botones Encriptar y desencriptar--@@@@@@@@@@@@@@@@@@@@@@@@@*/
.botonesEncri{
    display: flex;
    justify-content: space-between;
    width: 680px;
    height: 67px;
    margin-top:16px;   
}
.botonEncriptar{
    width: 328px;
    padding: 23.5px 0;
    border-radius: 24px; 
    gap: 24px;
    text-align: center; 
    background-color:var(--color-darkblue);
    border-bottom: 2px solid var(--color-darkblue);
    color: var(--color-blanco);
    font-size: 1rem;/*16px*/
    font-family: var(--fuente-Inter);
    font-weight: 300;   
}
.botonDesencriptar{
    width: 328px;
    padding: 23.5px 0;
    border-radius: 24px; 
    text-align: center;
    background-color:var(--color-grisClaro);
    border-bottom: 2px solid var(--color-darkblue);
    color:var(--color-darkblue);
    font-size: 1rem;/*16px*/
    font-family: var(--fuente-Inter);
    font-weight: 300;   
}

/*&&&&&&&&&&&&&&&&&&&&&-- Seccion Copiado--&&&&&&&&&&&&&&&&&&&&*/
.seccion_copiar{
    width:50%;/* ;*/
}
.copia{
    width:400px;/**/
    height: 944PX;
    background-color: var(--color-blanco);
    border-radius: 32px; 
    border: none;
    margin-top: -48px;   
}
.textMensaje{
    width:336px;
    height:781px;
    font-size: 1.5rem;/*24px*/
    font-weight: 400; 
    font-family:var(--fuente-Inter);
    text-transform: lowercase;/*trasforma el texto a minuscula*/
    color: var(--color-darkblue);
    background-color:var(--color-blanco);
    background-image: url("/img/Muñeco.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:211px ;
    border: none;
    margin-left: 32px; /*20*/
    margin-top: 32px;/*-20*/
    /*position: fixed;*/    
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.mensaje_copi{
    width: 336px;
    height: 122px;
    margin-left: 32px;
    text-align: center;
}
.recTex1{
    width: 336px;  
    margin-top: -244px;/* */
    color:var(--color-grisOscuro);
    font-family: var(--fuente-Inter);
    font-size:1.5rem ;/*24px*/
    font-weight: 500;       
}
.recTex2{
    width: 336px; 
    margin-top:16px;
    color: var(--color-grisOscuro);
    font-family: var(--fuente-Inter);
    font-size: 1rem;/*16px*/
    font-weight: 400;       
}

/*h4{
    visibility: collapse;
}
h5{
    visibility: collapse;no se veel contenido, perose mantiene elespacio ocupado
}
    .contenido {display:none;} Se borra elcontenidoy desplasael espacio
    .contenido{visibility:hidden;}
    .contenido img{visibility:visible;}*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.boton_copia{
    width: 336px;
    height: 67px;
    margin-left: 32PX;
    margin-top:150px;/* /965/con firex 32px*/    
    visibility:hidden ; /* collapse */
}
.botonCopia{
    width: 336px; 
    border-radius:1.5rem; /*24px*/
    text-align: center; 
    background-color:var(--color-blanco);
    border-bottom: 2px solid var(--color-darkblue);
    color: var(--color-darkblue);
    font-size: 1rem;/*16px*/
    font-family: var(--fuente-Inter);
    font-weight: 300;
    padding: 23.5px 0;
   
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1440px ;
    background-image: url(img/textura-fondos-madera-patron-vertical-color-pastel_53876-256325.jpg);
    font-size: 1rem;/*16px*/
    font-family: var(--fuente-Inter);
    font-weight: 400;   
}
.lobo{
    width: 80px;
    height: 80px;    
}
/*&&&&&&&&&&&&&&&&&&&&&&&-- Focus de  los textarea-- &&&&&&&&&&&&&&&&&&&&&*/
::placeholder{color: #8a2be2;}
.textarea:focus{
    outline: none;/*sacamosel focus a tex area es la variacion del color cuando se posiciona el mouse*/
}
.textMensaje:focus{
    outline: none;/*para que no resalte la caja cuando nos posicionamos en ella*/
}
/*&&&&&&&&&&&&&&&&&&&&&-- Encriptador Formato Tablet--768--&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
@media (max-width:768px ){
    .body{
        width:786px ;
        height: 1260px; 
    }
    .header{
        padding: 1%;
        width:786px ;
    }
    .pantalla__main{
       flex-direction: column;  /*cuando se reduce la pantalla la imagen se va al final*/
       padding: 1% 1%;/* Esto no cambio casinada , en elcodigo se debe cambiar algo mas*/
       gap: 64px;
       width:786px ;
       height: 1260px; 
    }
   .logo{
        display: inline;
        margin-left: 7px;
        margin-top: 74.97px;   
    }
    /*&&&&&&&&&&&&&&&&&&--Seccion Texto ingresado -- */
    .seccion_ingreso_texto{
        width: 688px;
        height: 697px;
        margin-left: 40px;
        margin-top: 116px;
    }
    .textarea{
        display: flex;
        align-items: center;
    }
    .advertencia{
        margin-top: 308px;
    }
    .botonesEncri{
        margin-top: 16px;
    }
    /*&&&&&&&&&&&&&&&&&&&&&-- Seccion Copiado--*/
    .seccion_copiar{
        margin-left: 40px;
        margin-top: 48px;
    }
    .copia{
        width: 688px;
        height: 343px;
        border-radius: 32px; 
        padding: 1px;/* */
    }
    .textMensaje{
        width: 624px;
        height: 180px;
        display: flex;
        align-content: center;  
        background-image: none;/* */
    }
    .mensaje_copi{
        width: 624px;
        height: 69px;
        margin-top: -184px;
        align-content: center;   
    }
    .recTex1,.recTex2{
        width: 624px;
        height: 29px;
        margin-top: 32px;
    }
    .botonCopia{
        width: 624px;
        height: 67px;
        border-radius: 24px;
    }
    .footer{
        width:786px ;
        padding: 1%;
    }
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&--Encriptador Formato Celular--375--&&&&&&&&&&&&&&&&&&&&&&&*/
@media (max-width:375px ){
    .header{
        padding: 1%;
        width: 375px;
    }
    .pantalla__main{
        flex-direction: column;  /*cuando se reduce la pantalla la imagen se va al final*/
        padding: 1% 1%;/* Esto no cambio casinada , en elcodigo se debe cambiar algo mas*/
        width: 375px;
        height: 1591px;
    }
    .logo{
        display: inline;
        margin-left:-28px;
        margin-top:23px ;  
    }
    /*&&&&&&&&&&&&&&&&&&--Seccion Texto ingresado -- */
    .seccion_ingreso_texto{
        width: 343px;
        height: 880px;
        margin-left: 16px;
        margin-top: 64px;
    }
    .textarea{
        width: 343px;
        height: 624px;
        display: flex;
        align-items: center;
    }
    .advertencia{
        margin-top: 64px;   
    }
    .botonesEncri{
        display: flex;
        flex-direction: column;
        width: 343px;
        height: 158px; 
        gap: 24px;
    }
    .botonEncriptar{
        width: 343px;     
    }
    .botonDesencriptar{
        width: 343px;
    }
   /*&&&&&&&&&&&&&&&&&&&&&-- Seccion Copiado--*/
    .seccion_copiar{
        margin-left: 16px;
        margin-top: px;    
    }
    .copia{
        width: 343px;
        height: 595px;
        border-radius: 32px; 
        padding: 1px;/* */
    }
    .textMensaje{
        width: 279px;
        height: 432px;
        display: flex;
        align-content: center;
        background-image: none;
    }
    .mensaje_copi{
        width: 263px;
        height: 122px;
        margin-top:-432px;
        align-content: center;   
        gap:16px;
    } 
    .recTex1{
        width: 263px;
        height: 58px;  
    }
    .recTex2{
        width: 263px;
        height: 48px;
        margin-top: 16px;
    }
    .boton_copia{
        width:279PX ;
        height:67PX ;
        margin-top: 338px;
    }
    .botonCopia{
        width: 279px;
        height: 67px;
        border-radius: 24px; 
    }
    .footer{
        width: 375px;
        padding: 1%;
    }
}